<div class="form-group row">
  <label class="col-form-label col-sm-2" for="Title">제목</label>
  <div class="col-sm-8">
    <input autofocus class="form-control" name="Title" value="<%= model.Title %>" >
  </div>
</div>

<div class="form-group row">
  <label class="col-form-label col-sm-2" for="Author">아이디</label>
  <div class="col-sm-7">
    <input class="form-control" name="Author" value="<%= model.Author %>" >
  </div>
</div>

<div class="form-group row">
    <label class="col-form-label col-sm-2" for="Comments">할말</label>
    <div class="col-sm-10">
      <textarea class="form-control" name="Comments" rows="7" cols="20"><%= model.Comments%></textarea>
    </div>
</div>
